.task-card {
  .deadline-row {
    font-size: 14px;
  }

  .task-status-row {
    .icon-stat {
      i {
        font-size: 20px;
        vertical-align: middle;

        &.small {
          font-size: 18px;
        }
      }
    }
  }
}
