.pointer {
  cursor: pointer;
  &.nav-link {
    color: #fff;
    &:hover {
      color: #ced4da;
    }
  }
}

.minh-100 {
  min-height: 100vh;
}

.not-visible {
  visibility: hidden;
}

.btn:disabled {
  opacity: 1;
  &:hover {
    cursor: not-allowed;
    opacity: 0.65;
  }
}

.ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.badge-success {
  background-color: rgba(147, 231, 195, 1);
}

.flex-1 {
  flex: 1;
}

.flex-col {
  flex-direction: column;
}

.no-wrap {
  flex-wrap: nowrap;
}
